
<style>
  footer{
margin-left:260px;
width:calc(100% - 260px);
}
  @media (max-width: 768px){

main{
margin-left:0;
}

footer{
margin-left:0;
width:100%;
}

}
</style>

<footer class="site-footer" style="background:#000; padding:40px; text-align:center; margin-top:40px; border-top:1px solid #333;">

<div class="footer-content" style="opacity:0.8;;">

<p style="font-size:0.5rem;">
We want you to experience an easy, stress-free way to get your business noticed. <br>
</p>
  <p style="font-size:0.4rem;">
<br>Whether it be through a stunning, easy-to-navigate website that is always up to date or through the innovative graphics of your own channel, SCE is here to make you shine! <br>
</p>
<p style="font-size:0.4rem;">
<br>EMAIL: <a href=mailto:swanson.custom.enterprises@gmail.com style="text-decoration: none;"><u>swanson.custom.enterprises@gmail.com</u></a><br>
Please Contact Us! We would love to chat anytime!<br>
</p>  
<p style="font-size:0.1rem;">
<br>© 2026 Swanson Custom Enterprises International
</p>

</div>

</footer>
