  <link rel="stylesheet" type="text/css" href="css/style.css">

<footer class="site-footer" style=" padding:40px; text-align:center; margin-top:40px; border-top:1px solid #333;">

<div class="footer-content" style="opacity:0.8;;">

<p style="font-size:1.5rem;">
<i>We want you to experience an easy, stress-free way to get your business noticed.</i> <br>
</p>
  <p style="font-size:1rem;">
<br>Whether it be through a stunning, easy-to-navigate website that is always up to date or through the innovative graphics of your own channel, SCE is here to make you shine! <br>
</p>

    <p style="font-size:1rem;">
<br> PLEASE CONTACT US! We would love to chat anytime! <br>
      Email us at <a href="mailto:swanson.custom.enterprises@gmail.com">swanson.custom.enterprises@gmail.com</a>
</p>
 
<p style="font-size:.75rem;">
<br>© 2026 Swanson Custom Enterprises International
</p>

</div>

</footer>
