<style>
nav{
    a:hover {
    font-weight: bold;           /* Makes text bold */
    text-decoration: underline;  /* Optional: underline on hover */
}
}
</style>

<button id="menuButton">☰</button>

<nav id="sidebar" class="closed">

<a href="http://www.sce1.com">Home</a>

<a href="https://sites.google.com/view/swanson-custom-enterprises/multimedia-broadcasting">
Multimedia Broadcasting
</a>

<a href="https://sites.google.com/view/swanson-custom-enterprises/website-development">
Website Development
</a>

<a href="http://www.sce1.com/our-goal">
Our Goal
</a>

</nav>

